.vscode
.ipynb_checkpoints
.env
__pycache__
test_output/
test_city_output/
results/
output_notebook/
.temp
.RData
.Rhistory
.Rproj.user
TODO.txt
www/.temp/
Buildings_network_untracked.ipynb
untracked_script.py